@import '0-base/00-variables'

body
  background: $white
  font: 1.6em/1.5 $font-primary
  color: $gray-dark
  min-height: 100vh
  padding-bottom: $footer-height
  position: relative
a
  color: $gray-dark
  &:hover, &:focus
    color: $gray
